#footer_wrapper{
    display: grid;
    height: 400px;
    width: 100%;
    padding: 70px 150px;
    grid-template-columns: 40% 30% 30%;
    box-sizing: border-box;

    #rs_wrapper{

        #icon_wrapper{
            display: flex;
            flex-direction: row;
        }
        .icon_rounder{
            height: 35px;
            width: 35px;
            border-radius: 100%;
            background-color: red;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 3px;
        }

    }
    #copyright_wrapper{
        h3{
            margin-top: 40px;
            margin-bottom: 2px;
        }
    }
    p{
        color: #777;
    }
    #logo_wrapper{
        margin-top: -30px;
        margin-left: 50px;
        height: 300px;
        width: 300px;
        position: relative;
        display: flex;
        justify-content: center;
        align-self: center;
    }
}

// responsive design
@media only screen and (max-width: 1000px) {
    #footer_wrapper{
        padding: 70px 20px;
        #logo_wrapper{
            height: 200px;
            width: 200px;
        }
        h3{
            font-size: 3vw;
        }
    }
}

// responsive design
@media only screen and (max-width: 700px) {
    #footer_wrapper{
        display: flex;
        flex-direction: column;
        padding: 40px 60px;
        #logo_wrapper{
            display: none;
        }
        h3{
            font-size: 4vw;
        }
        p{
            color: #777;
            font-size: 3vw;
        }
    }
}