#nabbar_wrapper{
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 0 150px;
    height: 150px;
    align-items: center;

    #navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        a{
            text-decoration: none;
            color: #000;
        }
        a:hover{
            color: red;
        }
    }
    #logo_wrapper{
        height: 100px;
        width: 100px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #logo{
        border: 1px solid;
    }

}